extends layout

block content
    p Edit User
    form(method="POST")
        p First Name
        input(name='first_name' placeholder='first_name' value= itm.first_name)
        p Last Name
        input(name='last_name' placeholder='last_name' value= itm.last_name)
        p Age
        input(name='Age' placeholder='Age' value= itm.Age)
        p Email
        input(name='Email' placeholder='Email' value= itm.Email)
        p
        button(value='submit') edit
    a(href=`/users`)
        button(type= "submit") Back