extends layout

block content
  .login-page
    .form
      form(method="POST" action='/users').login-form
        p Login
        input(type='text', required placeholder='username')
        p Password
        input(type='password', required placeholder='password')
        button(value='submit') login