extends layout

block content
    p Users
         table(border='1')
             tbody
                 tr
                     th ID
                     th First Name
                     th Last Name
                     th Age
                     th Email
                     th Edit or Delete
                 tr(class = "userList")
    each val in list
        table(border='1')
                     td(class = "id")=val.id
                     td(class= "First Name")=val.first_name
                     td(class= "Last Name")=val.last_name
                     td(class= "Age")=val.Age
                     td(class= "Email")=val.Email
                     td
                         a(href=`/edituser/${val.id}`)
                             button(type= "submit") Edit
                         a(href=`/deleteuser/${val.id}`)
                             button(type= "submit") Delete
